@use "../assets/mixins";

.contact {
  @include mixins.flex(column, space-between, center, 40px);
  background: linear-gradient(45deg, #2196f3, #e91e63);
  padding: 2rem 0;
  width: 100%;
  color: #19191d;
  border-radius: 8px;

  .container {
    @include mixins.flex(column, center, center, 20px);
    max-width: auto;
    margin: 0 auto;
    color: #01012b;
    text-decoration: underline;
  }

  .inputGroup {
    @include mixins.flex(column, flex-start, stretch, 20px);
    width: 100%;
    margin-bottom: 1rem;

    input,
    textarea {
      width: 100%;
      height: 20px;
      border: none;
    }

    .inputMessage {
      height: 50px;
    }
  }

  .submitButton {
    background: linear-gradient(45deg, #2196f3, #e91e63);
    padding: 1rem 2rem;
    border-color: #01012b;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .linkContainer {
    @include mixins.flex(column, center, center, 5px);
  }

  .link {
    font-size: 18.72px;
    color: aqua;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #01012b;
    }
  }

  .teamContainer {
    @include mixins.flex(column, center, center, 20px);
    margin-top: 2rem;
  }
}
