@use "../assets/mixins";

.contact {
  border: 2px solid red;
  @include mixins.flex(column, space-between, center, 40px);
  background: linear-gradient(45deg, #2196f3, #e91e63);
  padding: 2rem 0;
  text-align: center;
  width: 100%;

  color: #01012b;

  .container {
    @include mixins.flex(column, flex-end, center, 40px);
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    color: #01012b;
    gap: 1rem;
  }

  .inputGroup {
    margin-bottom: 1rem;
    @include mixins.flex(row, space-between);
    gap: 1rem;

    textarea {
      width: 200px;
    }

    input {
      width: 200px;
    }
  }

  .contact-textarea {
    height: 10rem;
    resize: vertical;
    border-radius: 25px;
  }

  .submitButton {
    background: linear-gradient(45deg, #2196f3, #e91e63);
    padding: 1rem 2rem;
    border-color: #01012b;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
