.signup__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 1.1rem;
  border: 2px solid azure;
  border-radius: 10px;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );

  .signup__title {
    font-size: 3rem;
    font-weight: 600;
  }

  .signup__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .signup__input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .avatarGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 180px;
    height: 180px;

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.3s ease, border 0.3s ease;

      &.selected {
        transform: scale(1.1);
        border: 2px solid white;
      }

      &:hover {
        transform: scale(1.1);
        border: 2px solid white;
      }
    }
  }

  .signup__btn {
    padding: 0.5rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #ff2a6d;
    color: #ffffff;
    box-shadow: 0 0 50px 15px #48abe0;
    cursor: pointer;
  }
}
