@use "../../assets/mixins";
.linkCard {
  @include mixins.flex(column, flex-start, flex-start);
  text-align: left;
}

.lib__Card {
  @include mixins.flex(row, flex-start, center);
  padding: 15px;
  border-bottom: 1px solid #ffffff;

  .lib__CardTitle {
    color: #ffffff;
    margin-top: 10px;
  }

  .lib_CardImage {
    height: auto;
    width: 480px;
  }

  .lib__CardP {
    display: none;
  }
}
