@use "../../assets/mixins";
.linkCard {
  @include mixins.flex(column, flex-start, flex-start);
}

.lib__Card {
  @include mixins.flex(row, flex-start, center);
  padding: 15px;
  border-bottom: 1px solid #ffffff;

  .lib__CardTitle {
    color: #ffffff;
    margin-top: 10px;
  }

  .lib_CardImage {
    height: auto;
    width: 480px;
  }

  .lib__CardP {
    display: none;
  }
}

.cart__Card {
  @include mixins.flex(column, flex-start, flex-start, 10px);

  .cart__CardTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .cart__CardImage {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px;

    @include mixins.breakpoint(laptop) {
      width: 150px;
      height: 90px;
      border-radius: 15px 15px;
    }
  }
}
